# :required: Server configuration.
[server]
# :optional: Internet address and port on which to listen.
address = "127.0.0.1:80"
# :required: Domain (host name) of this server.
domain = "example.com"
# :optional: Secret key, used e.g. to sign session cookies. Must be at least 32
# bytes long.
#
# If omitted a random secret will be generated each time the server is started.
#
# You can generate a new secure secret with
# $ openssl rand 32 -base64
secret = "..."

# :optional: Database configuration.
[database]
# :required: Database url. This field is overridden by the DATABASE_URL
# env variable.
url = "postgres://user:password@host/database"

# :required: Mailing configuration.
[mail]
# :required: Email address to send messages as.
#
# Address can be anything understood as an address according to RFC 5322 (per
# the mailbox production in §3.4), in particular:
# - bare email address, e.g. noreply@example.com
# - email address with sender's name, e.g. Name <noreply@example.com>
sender = "Name <noreply@example.com>"
# :required: What method to use to send mails. Possible values are
# - "log" to log emails to standard error for debugging,
# - "sendmail" to use the sendmail(1) command,
transport = "log"

# :required: Backing storage for files.
[storage]
# :required: Path to a directory in which user-uploaded files will be kept.
path = "/var/uploads"
