# :required: Server configuration.
[server]
# :optional: Internet address and port on which to listen.
address = "127.0.0.1:80"
# :required: Domain (host name) of this server.
domain = "example.com"
# :optional: Secret key, used e.g. to sign session cookies. Must be at least 32
# bytes long.
#
# If omitted a random secret will be generated each time the server is started.
#
# You can generate a new secure secret with
# $ openssl rand 32 -base64
secret = "..."

# :optional: Database configuration.
[database]
# :required: Database url. This field is overridden by the DATABASE_URL
# env variable.
url = "postgres://user:password@host/database"
