{% extends "_base.html" %}
{% block body %}
    <form method="post">
        <h1>
            {% filter translate(key="login-title") %}
                Welcome to Adaptarr!
            {% endfilter %}
        </h1>
        {% if error %}
            <div class="error">{{ _(key="login-error", code=error) }}</div>
        {% endif %}

        <input type="email" name="email" minlength="1" placeholder="{{ _(key="login-field-email") }}" required>
        <input type="password" name="password" minlength="1" placeholder="{{ _(key="login-field-password") }}" required>

        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        <input type="submit" value="Login">
        <a href="/reset">
            {% filter translate(key="login-reset-password") %}
                Reset password
            {% endfilter %}
        </a>
    </form>
{% endblock body %}
