{% extends "_base.html" %}
{% import "_macros.html" as m %}

{% block content %}
    {{ m::expand_paras(paras=_(key="mail-invite-before-button"), first_top="10px") }}

    {{ m::button(url=url, text=_(key="mail-invite-register-button")) }}

    {{ m::expand_paras(paras=_(key="mail-invite-after-button", url=url)) }}
{% endblock %}

{% block footer %}
    {{ m::footer(top="6px") }}
    {% filter translate(key="mail-invite-footer", email=email) %}
        You are receiving this message because someone has invited {{ email }}
        to join Adaptarr!.
    {% endfilter %}
    {{ m::endpara() }}
{% endblock %}
