{% extends "_base.html" %}
{% import "_macros.html" as m %}

{% block content %}
    {% set_global header_top = "10px" %}
    {% set_global num_total = 0 %}
    {% set_global num_unknown = 0 %}

    {% for item in events %}
        {% set group = item[0] %}
        {% set events = item[1] %}
        {% set count = events | length %}
        {% set_global num_total = num_total + count %}

        {% if group == "assigned" %}
            {% set header = "mail-notify-group-header-assigned" %}
        {% elif group == "process-ended" %}
            {% set header = "mail-notify-group-header-process-ended" %}
        {% elif group == "slot-assignment" %}
            {% set header = "mail-notify-group-header-slot-assignment" %}
        {% elif group == "draft-advanced" %}
            {% set header = "mail-notify-group-header-draft-advanced" %}
        {% elif group == "conversation" %}
            {% set header = "mail-notify-group-header-conversation" %}
        {% elif group == "support" %}
            {% set header = "mail-notify-group-header-support" %}
        {% else %}
            {% set_global num_unknown = num_unknown + count %}
            {% continue %}
        {% endif %}

        {{ m::expand_paras(
            paras=_(key=header, kind=group),
            first_top=header_top
        ) }}
        {% set_global header_top = "0px" %}

        {% for event in events %}
            {% if event.kind == "assigned" %}
                {% set message = _(
                    key="mail-notify-event-assigned",
                    actorname=event.who.name,
                    actorurl=event.who.url,
                    moduletitle=event.module.title,
                    moduleurl=event.module.url,
                    booktitle=event.book.title,
                    bookurl=event.book.url,
                    bookcount=event.book.count
                ) %}
            {% elif event.kind == "process-ended" %}
                {% set message = _(
                    key="mail-notify-event-process-ended",
                    moduletitle=event.module.title,
                    moduleurl=event.module.url
                ) %}
            {% elif event.kind == "process-cancelled" %}
                {% set message = _(
                    key="mail-notify-event-process-cancelled",
                    moduletitle=event.module.title,
                    moduleurl=event.module.url
                ) %}
            {% elif event.kind == "slot-filled" %}
                {% set message = _(
                    key="mail-notify-event-slot-filled",
                    drafttitle=event.draft.title,
                    drafturl=event.draft.url,
                    slotname=event.slot.name
                ) %}
            {% elif event.kind == "slot-vacated" %}
                {% set message = _(
                    key="mail-notify-event-slot-vacated",
                    drafttitle=event.draft.title,
                    drafturl=event.draft.url,
                    slotname=event.slot.name
                ) %}
            {% elif event.kind == "draft-advanced" %}
                {% set message = _(
                    key="mail-notify-event-draft-advanced",
                    drafttitle=event.draft.title,
                    drafturl=event.draft.url,
                    stepname=event.step.name,
                    booktitle=event.book.title,
                    bookurl=event.book.url,
                    bookcount=event.book.count
                ) %}
            {% elif event.kind == "new-message" %}
                {{ m::expand_paras(paras=_(
                    key="mail-notify-event-new-message",
                    authorname=event.author.name,
                    authorurl=event.author.url,
                    messageurl=event.message.url
                )) }}
                <tr>
                    <td style="padding: 0 14px 10px 14px;">
                        <a
                            href="{{ event.message.url }}"
                            target="_blank"
                            rel="noopener"
                            style="text-decoration: none; color: inherit; display: block;"
                            >
                            <table
                                align="center"
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                width="100%"
                                style="border-collapse: collapse; border: 1px solid #bbbbbb;"
                                >
                                {{ event.message.html | safe }}
                            </table>
                        </a>
                    </td>
                </tr>
                {% continue %}
            {% elif event.kind == "new-support-ticket" %}
                {% set message = _(
                    key="mail-notify-event-new-support-ticket",
                    authorname=event.author.name,
                    authorurl=event.author.url,
                    tickettitle=event.ticket.title,
                    ticketurl=event.ticket.url
                ) %}
            {% endif %}

            {{ m::expand_paras(paras=message) }}
        {% endfor %}

        {{ m::horizontal_separator() }}
    {% endfor %}

    {% if num_unknown > 0 %}
        {% if num_total > num_unknown %}
            {{ m::expand_paras(paras=_(
                key="mail-notify-also-unknown-events",
                count=num_unknown,
                notification_centre_url=urls.notification_centre
            )) }}
        {% else %}
            {{ m::expand_paras(paras=_(
                key="mail-notify-only-unknown-events",
                count=num_unknown,
                notification_centre_url=urls.notification_centre
            )) }}
        {% endif %}
        {{ m::horizontal_separator() }}
    {% endif %}

    {{ m::expand_paras(paras=_(key="mail-notify-footer")) }}
{% endblock %}
