{% extends "_base.html" %}
{% import "_macros.html" as m %}

{% block content %}
    {% set_global header_top = "10px" %}
    {% set_global num_total = 0 %}
    {% set_global num_unknown = 0 %}

    {% for item in events %}
        {% set group = item[0] %}
        {% set events = item[1] %}
        {% set count = events | length %}
        {% set_global num_total = num_total + count %}

        {% if group == "assigned" %}
            {% set header = "mail-notify-group-header-assigned" %}
        {% else %}
            {% set_global num_unknown = num_unknown + count %}
            {% continue %}
        {% endif %}

        {{ m::expand_paras(
            paras=_(key=header, kind=group),
            first_top=header_top
        ) }}
        {% set_global header_top = "0px" %}

        {% for event in events %}
            {% if event.kind == "assigned" %}
                {% set message = _(
                    key="mail-notify-event-assigned",
                    actorname=event.who.name,
                    actorurl=event.who.url,
                    moduletitle=event.module.title,
                    moduleurl=event.module.url,
                    booktitle=event.book.title,
                    bookurl=event.book.url,
                    bookcount=event.book.count
                ) %}
            {% endif %}

            {{ m::expand_paras(paras=message) }}
        {% endfor %}

        {{ m::horizontal_separator() }}
    {% endfor %}

    {% if num_unknown > 0 %}
        {% if num_total > num_unknown %}
            {{ m::expand_paras(paras=_(
                key="mail-notify-also-unknown-events",
                count=num_unknown,
                notification_centre_url=urls.notification_centre
            )) }}
        {% else %}
            {{ m::expand_paras(paras=_(
                key="mail-notify-only-unknown-events",
                count=num_unknown,
                notification_centre_url=urls.notification_centre
            )) }}
        {% endif %}
        {{ m::horizontal_separator() }}
    {% endif %}

    {{ m::expand_paras(paras=_(key="mail-notify-footer")) }}
{% endblock %}
